body {
  padding: 3em 5em;
  background-color: #C8C1C6;
  font-family: Helvetica;
}

h1 {
  color: #21374F;
  font-size: 40px;
}

h2 {
  color: #501F1E;
}

p {
  color: #ECECEC;
  padding: 10px;
  word-wrap: break-word;
}

#author {
  margin-top: -1.5em;
  padding: 0 0 0 .2em;
  color: gray;
  font-size: .85em;
  padding-bottom: .5em;
  font-weight: bold;
}

#first {
  margin: 0 auto;
  width: 85%;
}

h1 span {
  color: #BF1A11;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.shapes {
  text-align: center;
  margin: 3em 0;
}

.base {
  display: inline-block;
  background-color: lightcoral;
  margin: 1em;
  height: 12.5em;
  width: 12.5em;
  vertical-align: middle;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
}

.radius {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.ellipse {
  width: 28em;
}

.col_left {
  background-color: gray;
  width: 48%;
  float: left;
  margin-right: 1%;
  border-radius: 4px;
}

.col_right {
  background-color: gray;
  width: 48%;
  float: right;
  margin-left: 1%;
  border-radius: 4px;
}

.col_right p {
  padding: 0 1em;
  letter-spacing: .13em;
}

.col_left p {
  padding: 0 1em;
  letter-spacing: .13em;
}

.left {
  color: yellow;
  background-color: none;
}


footer p {
  display: inline-block;
  text-align: center;
  font-size: .7em;
  width: 100%;
  color: black;
}
